<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/infoSidebarStyles.css" th:href="@{css/infoSidebarStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/page.css" th:href="@{css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/dashboard.css" th:href="@{css/dashboard.css}"/>
    <script type="text/javascript" src="../../static/javascript/script.js" th:src="@{/static/javascript/script.js}"></script>
</head>
<body>

<form th:fragment="register" class="" action="/register" th:action="@{/register}" method="POST">
    <div class="form-container">
            <h1>Register</h1>
            <input type="text" placeholder="First Name" name="first-name" required>
            <input type="text" placeholder="Last Name" name="last-name" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <a id="register" class="hover-link" onclick="showLoginForm()">Already have an account? Login here.</a>
    </div>
    <div class="form-container">
        <button class="button-header" type="submit">REGISTER</button>
    </div>
</form>

<form th:fragment="update-profile-form" class="" action="/profile" th:action="@{/profile}" method="post">
    <div class="form-container">
        <div class="ps-heading">
            <h1>Profile</h1>
        </div>
        <div class="ps-input">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" placeholder="First Name" name="firstName" th:value="${session.user.firstName}">
        </div>
        <div class="ps-input">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" placeholder="Last Name" name="lastName" th:value="${session.user.lastName}">
        </div>
        <div class="ps-input">
            <label for="eMail">E-Mail</label>
            <input id="eMail" type="email" placeholder="E-Mail" name="email" th:value="${session.user.email}">
        </div>
    </div>
    <div class="form-container">
        <button class="button-header" type="submit">SAVE</button>
        <button class="button-header" onclick="openDeleteProfilePopUp()">Delete Profile</button>
        <div class="modal">
            <div class="delete-popup-container" id="delete-profile" th:insert="fragments/form-fragments :: delete-profile-popup"></div>
        </div>
    </div>

</form>

<form th:fragment="login-form" class="" action="/login" th:action="@{/login}" method="POST">
    <div class="form-container">
        <h1>Login</h1>
        <input label="E-Mail" type="email" id="email" placeholder="Email" name="email" required>
        <input type="password" id="password" placeholder="Password" name="password" required>
        <a id="loginLink" class="hover-link" onclick="showRegisterForm()">No account yet? Register here.</a>
    </div>
    <div class="form-container">
        <button class="button-header" type="submit" th:href="@{/projects}">LOGIN</button>
    </div>
</form>

<form th:fragment="create-project-form" class="createForm" action="/create-project" th:action="@{/create-project}" method="POST">
    <div class="createFormInfo">
        <span class="closeProj" th:onclick="closeCreateProject()">&times;</span>
        <h4>Add project</h4>
        <div class="nameDescription">
            <input type="text" placeholder="Project-Name" name="project-name" required>
            <textarea placeholder="Description" name="description"></textarea>
        </div>
        <div class="dates">
            <div class="sDate">
                <label for="start-date">Start date</label>
                <input type="date" id="start-date" placeholder="Start date" name="start-date" required>
            </div>
            <div class="eDate">
                <label for="End-date">End date</label>
                <input type="date" id="end-date" placeholder="End date" name="end-date" required>
            </div>
        </div>
    </div>
    <div class="createButton">
        <button class="button-header" type="submit" th:href="@{/projects}">Create</button>
    </div>
</form>

<form th:fragment="update-project-form" class="" action="/update-project" th:action="@{/update-project}" method="post">
    <div class="ps-heading">
        <h1>Settings</h1>
    </div>
    <div class="ps-heading">
        <input id="project-name" type="text" placeholder="Project-Name" name="project-name" th:value="${session.project.projectName}">
    </div>
        <div class="ps-input">
            <div class="ps-input-description">
                <label for="description">Description</label>
                <textarea rows="4" cols="40" id="description" placeholder="Description" name="description" th:text="${session.project.description}" ></textarea>
            </div>
            <div class="ps-input-description">
                <label for="startDate">Start date</label>
                <input id="startDate" type="date" placeholder="Start date" name="start-date" th:value="${session.project.startDate}">
            </div>
            <div class="ps-input-description">
                <label for="endDate">End date</label>
                <input id="endDate" type="date" placeholder="End date" name="end-date" th:value="${session.project.endDate}">
            </div>
            <div class="ps-input-description">
                <label for="collaborators">Collaborators</label>
                <input id="collaborators" type="text" placeholder="collaborators" name="collaborators">
            </div>
            <div class="ps-input-button">
                <button id="save-button" class="button-header" type="submit">Save</button>
            </div>
        </div>

</form>

<form th:fragment="create-section-form" class="createForm" action="/create-section" th:action="@{/create-section}" method="post">
    <div class="createFormInfo">
        <span class="closeProj" th:onclick="closeCreateSection()">&times;</span>
        <h4>Add section</h4>
        <div class="nameDescription">
            <input type="text" placeholder="Section-Name" name="section-name" required>
            <textarea type="text" placeholder="Description" name="description"></textarea>
        </div>
        <div class="dates">
            <div class="sDate">
                <label for="start-date">Start date</label>
                <input type="date" placeholder="Start date" name="start-date" required>
            </div>
            <div class="eDate">
                <label for="end-date">End date</label>
                <input type="date" placeholder="End date" name="end-date" required>
            </div>
        </div>
    </div>
    <div class="createButton">
        <button class="button-header" type="submit" th:href="@{/project-page}">Create</button>
    </div>
</form>

<form th:fragment="create-activity-form" class="createForm" action="/create-activity" th:action="@{/create-activity}" method="post">
    <div class="createFormInfo">
        <span class="closeProj" th:onclick="closeCreateActivity()">&times;</span>
        <h4>Add activity</h4>
        <div class="nameDescription">
            <input type="text" placeholder="Activity-Name" name="activity-name" required>
            <textarea type="text" placeholder="Description" name="description"></textarea>
        </div>
        <div class="createDuration">
            <div class="hours">
                <label for="durationInHours">Duration in hours</label>
                <input type="number" class="createDur bordered" placeholder="Duration in hours" name="duration" required>
            </div>
        </div>
    </div>
    <div class="createButton">
        <button class="button-header" type="submit" th:href="@{/section-page}">Create</button>
    </div>
</form>

<form th:fragment="create-task-form" class="createForm" action="/create-task" th:action="@{/create-task}" method="post">
    <div class="createFormInfo">
        <span class="closeProj" th:onclick="closeCreateTask()">&times;</span>
        <h4>Add task</h4>
        <div class="nameDescription">
            <input type="text" placeholder="Task-Name" name="task-name" required>
            <textarea placeholder="Description" name="description"></textarea>
        </div>
        <div class="createDuration">
            <div class="hours">
                <label for="durationInHours">Duration in hours</label>
                <input id="durationInHours" type="number" class="createDur" placeholder="Duration in hours" name="duration" required>
            </div>
        </div>
    </div>
    <div class="createButton">
        <button class="button-header" type="submit" th:href="@{/activity-page}">Create</button>
    </div>
</form>

<form th:fragment="update-section-form" th:action="@{/update-section}" method="post">
    <input type="hidden" name="section-id" th:value="${section.id}">
    <div class="sidebar-info">
        <input class="no-style-input" type="text" placeholder="Section-Name" name="section-name" th:value="${section.sectionName}">
        <h3>Duration</h3>
        <div class="sidebar-info-duration">
            <span>From:</span>
            <input type="date" placeholder="Start date" name="start-date" th:value="${section.startDate}">
            <span>To:</span>
            <input type="date" placeholder="End date" name="end-date" th:value="${section.endDate}">
        </div>
        <h3>Description</h3>
        <div class="sidebar-info-description">
            <textarea id="section-description" placeholder="Description" name="description" th:text="${section.description}"></textarea>
        </div>
    </div>
    <button class="button-submit" type="submit">Save</button>
</form>

<form th:fragment="update-activity-form" class="sidebar-form" th:action="@{/update-activity}" method="post">
    <input type="hidden" name="activity-id" th:value="${activity.id}">
    <div class="sidebar-info">
        <input class="no-style-input" type="text" placeholder="Activity-Name" name="activity-name" th:value="${activity.activityName}">
        <h3>Duration</h3>
        <div class="sidebar-info-duration">
            <span>Hours:</span>
            <input type="number" step="0.25" placeholder="Hours" name="duration" th:value="${activity.durationInHours}">
        </div>
        <h3>Description</h3>
        <div class="sidebar-info-description">
            <textarea id="activity-description" placeholder="Description" name="description" th:text="${activity.description}"></textarea>
        </div>
        <h3>Status</h3>
        <div class="sidebar-info-status">
                <select name="activity-status">
                    <option th:value="0" th:selected="${activity.status == 0}">Not Started</option>
                    <option th:value="1" th:selected="${activity.status == 1}">In Progress</option>
                    <option th:value="2" th:selected="${activity.status == 2}">Done</option>
                </select>
        </div>
    </div>
    <button class="button-submit" type="submit">Save</button>
</form>

<form th:fragment="update-task-form" class="sidebar-form" th:action="@{/update-task}" method="post">
    <input type="hidden" name="task-id" th:value="${task.id}">
    <div class="sidebar-info">
        <input class="no-style-input" type="text" placeholder="Task-Name" name="task-name" th:value="${task.taskName}">
        <h3>Duration</h3>
        <div class="sidebar-info-duration">
            <span>Hours:</span>
            <input type="number" step="0.25" placeholder="Hours" name="duration" th:value="${task.durationInHours}">
        </div>
        <h3>Description</h3>
        <div class="sidebar-info-description">
            <textarea id="task-description" placeholder="Description" name="description" th:text="${task.description}"></textarea>
        </div>
        <div class="sidebar-info-status">
            <div>
                <select name="task-status">
                    <option th:value="0" th:selected="${task.status == 0}">Not Started</option>
                    <option th:value="1" th:selected="${task.status == 1}">In Progress</option>
                    <option th:value="2" th:selected="${task.status == 2}">Done</option>
                </select>
            </div>
        </div>
    </div>
    <button class="button-submit" type="submit">Save</button>
</form>

<div th:fragment="delete-project-popup" class="delete-popup">
    <span class="closeProj" th:onclick="closeDeleteProjectPopUp()">&times;</span>
    <h1 class="form-header">Are you sure?</h1>
    <div class="form-buttons">
        <a th:href="@{/delete-project}" class="sureDeleteButton button-header"> Delete project</a>
        <a class="sureDeleteCancel button-header" onclick="closeDeleteProjectPopUp()">Cancel</a>
    </div>
</div>

<div th:fragment="delete-section-popup" class="delete-popup">
    <span class="closeProj" th:onclick="closeDeleteSectionPopUp()">&times;</span>
    <h1 class="form-header">Are you sure?</h1>
    <div class="form-buttons">
        <a th:href="@{/delete-section}" class="sureDeleteButton button-header"> Delete section</a>
        <a class="sureDeleteCancel button-header" onclick="closeDeleteSectionPopUp()">Cancel</a>
    </div>
</div>

<div th:fragment="delete-activity-popup" class="delete-popup" >
    <span class="closeProj" th:onclick="closeDeleteActivityPopUp()">&times;</span>
    <h1 class="form-header">Are you sure?</h1>
    <div class="form-buttons">
        <a th:href="@{/delete-activity}" class="sureDeleteButton button-header"> Delete activity</a>
        <a class="sureDeleteCancel button-header" onclick="closeDeleteActivityPopUp()">Cancel</a>
    </div>
</div>

<div th:fragment="delete-task-popup" class="delete-popup">
    <span class="closeProj" th:onclick="closeDeleteTaskPopUp()">&times;</span>
    <h1 class="form-header">Are you sure?</h1>
    <div class="form-buttons">
        <a th:href="@{/delete-task}" class="sureDeleteButton button-header"> Delete task</a>
        <a class="sureDeleteCancel button-header" onclick="closeDeleteTaskPopUp()">Cancel</a>
    </div>
</div>

<form th:fragment="delete-profile-popup" class="delete-popup" th:action="@{/delete-profile}" method="post">
    <!--<span class="closeProj" th:onclick="closeDeleteProjectPopUp()">&times;</span>-->
    <h1 class="form-header">Are you sure?</h1>
    <div class="form-buttons">
        <a th:href="@{/delete-user}" class="sureDeleteButton button-header">Delete profile</a>
        <a class="sureDeleteCancel button-header" onclick="closeDeleteProfilePopUp()">Cancel</a>
    </div>
</form>

</body>
</html>