<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <nav th:fragment="header">
    <div class="logo">
        <a th:href="@{/}">
          LOGOIMAGE
        </a>
    </div>
    <ul class="header-links">
      <li><a th:href="@{/login}">Login</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>

  <div th:fragment="side-navigation" class="primary-nav">

          <button href="#" class="hamburger open-panel nav-toggle" onclick="toggleNavbar()"></button>

          <nav role="navigation" class="menu" id="navbar-side">

              <a href="#" class="logotype">TaskMate</a>

              <div class="overflow-container">

                  <ul class="menu-dropdown">

                      <li><a th:href="@{/dashboard}">Dashboard</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>

                      <li><a th:href="@{/projects}">Projects</a><span class="icon"><i class="fa fa-envelope"></i></span></li>

                      <li><a th:href="@{/profile}">Account</a><span class="icon"><i class="fa fa-gear"></i></span></li>

                      <li><a th:href="@{/logout}">Logout</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>

                  </ul>

              </div>

          </nav>

      </div>


</body>
</html>