<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <nav th:fragment="header">
    <div class="header-box">
      <div class="logo">
          <a id="Logo" th:href="@{/}"> <img src ="../../static/images/TaskMate_logo.png" th:src="@{/images/TaskMate_logo.png}" alt="Logo"></a>
      </div>
      <ul class="header-links">
        <li><a class="button-header" th:href="@{/login}">Login</a></li>
        <li><a class="button-header">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div th:fragment="side-navigation" class="primary-nav">

          <button href="#" class="hamburger open-panel nav-toggle" onclick="toggleNavbar()"></button>

          <nav role="navigation" class="menu" id="navbar-side">

              <a href="#" class="logotype">TaskMate</a>

              <div class="overflow-container">

                  <ul class="menu-dropdown">

                      <li><a th:href="@{/dashboard}">Dashboard</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>

                      <li><a th:href="@{/projects}">Projects</a><span class="icon"><i class="fa fa-envelope"></i></span></li>

                      <li><a th:href="@{/profile}">Account</a><span class="icon"><i class="fa fa-gear"></i></span></li>

                      <li><a th:href="@{/logout}">Logout</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>

                  </ul>

              </div>

          </nav>

      </div>


</body>
</html>