<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/infoSidebarStyles.css" th:href="@{css/infoSidebarStyles.css}"/>
  <script type="text/javascript" src="../../static/javascript/script.js" th:src="@{/static/javascript/script.js}"></script>
</head>
<body>

<div th:fragment="section-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleSectionInfoSideBar([[${section.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-section-form" th:with="section = ${section}"></div>
  <div class="delete-popup-container modal" id="delete-section-id" th:insert="fragments/form-fragments :: delete-section-popup"></div>
  <div id="delete-section" class="modal" th:insert="fragments/form-fragments :: delete-section-popup"></div>
  <div class="section-sidebar-buttons">
    <button class="button-header" onclick="openDeleteSectionPopUp()">Delete Section</button>
    <button class="button-header">Open</button>
  <div class="sidebar-buttons">
    <a th:href="@{'/section-page/'+${section.id}}"><button class="button-header">Open</button></a>
  </div>
</div>

<div th:fragment="activity-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleActivityInfoSideBar([[${activity.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-activity-form" th:with="activity = ${activity}"></div>
  <div class="sidebar-assignees">
    <h2>People Assigned</h2>
    <div class="assignees-content">
      <table>
        <tr>
          <th>Person</th>
          <th>Hours</th>
        </tr>
        <tr th:each="assignment : ${activity.assignments}">
          <td th:text="${assignment.userFirstName}"></td>
          <td th:text="${assignment.hoursAssigned}"></td>
          <td><a th:href="@{'/delete-activity-assignment/'+${assignment.userId}+'/'+${assignment.activityId}}">&times</a></td>
        </tr>
      </table>
      <button onclick="toggleActivityAssigneesForm()">Add</button>
      <div class="modal" id="activity-assignee-form" th:insert="fragments/sidebar-fragments :: activity-assignee-form" th:with="activity = ${activity}"></div>
      <div class="delete-popup-container modal" id="delete-activity-id" th:insert="fragments/form-fragments :: delete-activity-popup"></div>
      <div id="delete-activity" class="modal" th:insert="fragments/form-fragments :: delete-activity-popup"></div>
    </div>
  </div>
  <div class="sidebar-buttons">
    <button class="button-header" onclick="openDeleteActivityPopUp()">Delete Activity</button>
    <button class="button-header">Open</button>
    <a th:href="@{'/activity-page/'+${activity.id}}"><button class="button-header">Open</button></a>
  </div>
</div>

<div th:fragment="task-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleTaskInfoSideBar([[${task.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-task-form" th:with="task = ${task}"></div>
  <div class="sidebar-assignees">
    <h2>People assigned</h2>
    <div class="assignees-content">
      <table>
        <tr>
          <th>Person</th>
          <th>Hours</th>
        </tr>
        <tr th:each="assignment : ${task.assignments}">
          <td th:text="${assignment.userFirstName}"></td>
          <td th:text="${assignment.hoursAssigned}"></td>
          <td><a th:href="@{'/delete-task-assignment/'+${assignment.userId}+'/'+${assignment.taskId}}">&times</a></td>
        </tr>
      </table>
      <button onclick="toggleTaskAssigneesForm()">Add</button>
      <div class="modal" id="task-assignee-form" th:insert="fragments/sidebar-fragments :: task-assignee-form" th:with="task = ${task}"></div>
    </div>
  </div>
  <div class="sidebar-buttons">
    <button class="button-header" onclick="openDeleteTaskPopUp()">Delete Task</button>
  </div>
  <div class="delete-popup-container modal" id="delete-task-id" th:insert="fragments/form-fragments :: delete-task-popup"></div>
  <div id="delete-task" class="modal" th:insert="fragments/form-fragments :: delete-task-popup"></div>
</div>

<form th:fragment="activity-assignee-form" class="assignees-modal-content" th:action="@{/update-activity-assignment}" method="post">
  <h1>Assign People</h1>
  <div>
    <input type="hidden" name="activity-id" th:value="${activity.id}">
    <label>Person</label>
    <select name="selected-user">
      <option th:each="member : ${session.team}" th:value="${member.userId}" th:text="${member.userFirstName}"></option>
    </select>
    <label>Hours</label>
    <input type="number" step="0.25" name="hours-assigned">
  </div>
  <button type="submit">Save</button>
</form>

<form th:fragment="task-assignee-form" class="assignees-modal-content" th:action="@{/update-task-assignment}" method="post">
  <h1>Assign People</h1>
  <div>
    <input type="hidden" name="task-id" th:value="${task.id}">
    <label>Person</label>
    <select name="selected-user">
      <option th:each="member : ${session.team}" th:value="${member.userId}" th:text="${member.userFirstName}"></option>
    </select>
    <label>Hours</label>
    <input type="number" step="0.25" name="hours-assigned">
  </div>
  <button type="submit">Save</button>
</form>

</body>
</html>