<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/infoSidebarStyles.css" th:href="@{css/infoSidebarStyles.css}"/>
  <script type="text/javascript" src="../../static/javascript/script.js" th:src="@{/static/javascript/script.js}"></script>
</head>
<body>
<div th:fragment="section-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleSectionInfoSideBar([[${section.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-section-form" th:with="section = ${section}"></div>
  <div class="sidebar-buttons">
    <a th:href="@{'/section-page/'+${section.id}}"><button class="button-header">Open</button></a>
  </div>
</div>

<div th:fragment="activity-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleActivityInfoSideBar([[${activity.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-activity-form" th:with="activity = ${activity}"></div>
  <div class="sidebar-assignees">
    <h2>People Assigned</h2>
    <div class="assignees-content">
        <div th:each="assignment : ${activity.assignments}">
          <span th:text="${assignment.userFirstName}"></span>
          <span th:text="${assignment.hoursAssigned}"></span>
          <a th:href="@{'/delete-activity-assignment/'+${assignment.userId}+'/'+${assignment.activityId}}">&times</a>
        </div>
      <form th:action="@{/update-activity-assignment}" method="post">
        <h3>Assign People</h3>
          <input type="hidden" name="activity-id" th:value="${activity.id}">
          <label>Person</label>
          <select name="selected-user">
            <option th:each="member : ${session.team}" th:value="${member.userId}" th:text="${member.userFirstName}"></option>
          </select>
          <label>Hours</label>
          <input type="number" step="0.25" min="0" name="hours-assigned" required>
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
  <div class="sidebar-buttons">
    <a th:href="@{'/activity-page/'+${activity.id}}"><button class="button-header">Open</button></a>
  </div>
</div>

<div th:fragment="task-info-sidebar" class="sidebar-modal-content">
  <span class="close" th:onclick="toggleTaskInfoSideBar([[${task.id}]])">&times;</span>
  <div class="sidebar-form-wrapper" th:insert="fragments/form-fragments :: update-task-form" th:with="task = ${task}"></div>
  <div class="sidebar-assignees">
    <h2>People assigned</h2>
    <div class="assignees-content">
        <div th:each="assignment : ${task.assignments}">
          <span th:text="${assignment.userFirstName}"></span>
          <span th:text="${assignment.hoursAssigned}"></span>
          <a th:href="@{'/delete-task-assignment/'+${assignment.userId}+'/'+${assignment.taskId}}">&times</a>
        </div>
      <form th:action="@{/update-task-assignment}" method="post">
        <h3>Assign People</h3>
        <div>
          <input type="hidden" name="task-id" th:value="${task.id}">
          <label>Person</label>
          <select name="selected-user">
            <option th:each="member : ${session.team}" th:value="${member.userId}" th:text="${member.userFirstName}"></option>
          </select>
          <label>Hours</label>
          <input type="number" step="0.25" name="hours-assigned" required>
        </div>
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
  <div class="sidebar-buttons">
    <button class="button-header" onclick="openDeleteTaskPopUp()">Delete</button>
    <div class="modal" id="delete-task-id" th:insert="fragments/form-fragments :: delete-task-popup" th:with="taskId = ${task.id}"></div>
  </div>
</div>


</body>
</html>