/* PROJECTS */
#projects, #sections, #activities, #tasks {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    font-family: var(--sub-heading);
}

/* DASHBOARD STYLES*/
.project-wrap {
    margin: 50px 100px 100px 300px;
    height: 100vh;
    transition: margin-left 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: var(--background-color);
}
/*#################*/

body {
    margin-top: 3rem;
    min-height: 100vh;
    min-width: 100%;
}

.hero {
    width: 100%;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 1rem 0 3rem;
    background: var(--complementary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border-color: var(--off-color);
}

.topRightSection {
    display: flex;
}

.add-project, .project, .add-section, .section, .add-activity, .activity, .add-task, .task {
    display: flex;
    height: 10rem;
    width: 12.5rem;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem 1rem 1px 1rem;
    background: var(--complementary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border-color: var(--complementary-color);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    touch-action: manipulation;

    font-family: helvetica, sans-serif;
    font-size: 5.5mm;
    -webkit-text-fill-color: var(--primary-color);
}

.activity-info-button, .section-info-button, .task-info-button {
    width: 12.5rem;
    margin-left: 1rem;
    padding: 5px;
}

.add-project img, .add-section img, .add-activity img, .add-task img {
    width: 3.5rem;
    height: 3.5rem;
}

.topLeftSection img, .p-row1 img {
    width: 1rem;
    height: 13px;
}

h1 {
    display: flex;
    margin: 0;
    font-family: geneva, sans-serif;
    font-size: 7mm;
    color: var(--primary-color);
}

.h1proj {
    opacity: 0;
}

h4 {
    display: flex;
    font-family: geneva, sans-serif;
    font-size: 6.5mm;
    color: var(--primary-color);
}

.p-row1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.pp-row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.p-row2, .pp-row2, .p-row3, .ppt-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/*.add-sec {
    display: flex;
    flex-direction: column;
}*/

/*############*/
/*CREATE FORMS*/

.createForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--complementary-color);
    padding: 60px;
    height: 75vh;
    box-shadow: var(--box-shadow);
    order: var(--border);
    border-radius: 10px;
    z-index: 2;
}

.createFormInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.closeProj {
    position: absolute;
    top: 3%;
    right: 3%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.closeProj:hover, .closeProj:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nameDescription input[type="text"] {
    border: none;
    outline: none;
    background: none;
    margin: 0 0 2rem 0;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    border-bottom: solid;
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}

.nameDescription textarea {
    border-radius: 10px;
    border-color: var(--off-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    resize: none;
    scroll-behavior: smooth;
    height: 100px;
}

.nameDescription {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.dates, .createDuration {
    display: flex;

}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0 0;
    width: 100%;
}

.sDate ::-webkit-calendar-picker-indicator, .eDate ::-webkit-calendar-picker-indicator {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}
/*##############################################################*/

/* A few custom styles for date inputs */
input[type="date"] {
    display: flex;
    flex-direction: row-reverse;
    appearance: none;
    -webkit-appearance: none;
    color: var(--primary-color);
    font-family: var(--sub-heading);
    font-size: 18px;
    border:1px solid #ecf0f1;
    background: var(--complementary-color);
    padding:5px;
    visibility: visible !important;
    box-shadow: var(--box-shadow);
}

/*##############################################################*/

.sDate, .eDate {
    display: flex;
    flex-direction: column;
    width: 28vh;
    align-items: flex-start;
}

label [for="start-date"], label [for="end-date"] {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    color: var(--primary-color);
    font-family: var(--sub-heading);
    box-shadow: var(--box-shadow);
}

.createDuration {
    margin: 5% 0 0;
}

.createDuration input[type="number"] {
    border: solid 1px var(--off-color);
}

.hours {
    display: flex;
    flex-direction: column;
}

.hours label, .sDate label, .eDate label {
    font-family: Helvetica, sans-serif;
    font-size: 700;
    color: var(--primary-color);
    margin-bottom: 1vh;
}

.hours input[type="number"], .sDate input[type="date"], .eDate input[type="date"] {
    background: #FFFFFF;
    border-radius: 10px;
    width: 80%;
    border-color: var(--off-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    resize: none;
    height: 25px;
}

.createForm h4 {
    margin: 0 0 5%;
}

.createButton {
    bottom: 7%;
    left: 7vh;
    position: absolute;
}

#create-project {
    display: none;
}

#create-section {
    display: none;
}

#create-activity {
    display: none;
}

#create-task {
    display: none;
}

#delete-profile{
    display: none;
}

.tryout{
    display: none;
}

.delete-popup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    width: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--complementary-color);
    padding: 60px;
    height: 40vh;
    box-shadow: var(--box-shadow);
    order: var(--border);
    border-radius: 10px;
    z-index: 3200;
}

.form-header {
    margin: 10px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.project-page .button-header, .projects .button-header, .section-page .button-header, .activity-page .button-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#create-project {
    display: none;
}

#create-section {
    display: none;
}

#create-activity {
    display: none;
}

#create-task {
    display: none;
}

#delete-project-id {
    display: none;
}