/* PROJECTS */
#projects, #sections, #activities, #tasks {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    font-family: var(--sub-heading);
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    min-height: 100vh;
    min-width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.25rem;
}

.hero {
    width: 100%;
}

.top-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 1rem 2rem 1rem;
    background: var(--complementary-color);
    border-radius: 10px;
    border-color: var(--complementary-color);
}

.topRightSection {
    display: flex;
}

.add-project, .project, .add-section, .section, .add-activity, .activity, .add-task, .task {
    display: flex;
    height: 10rem;
    width: 12.5rem;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem;
    background: var(--complementary-color);
    border-radius: 10px;
    border-color: var(--complementary-color);
    align-items: center;
    justify-content: center;

    font-family: helvetica, sans-serif;
    font-size: 5.5mm;
    -webkit-text-fill-color: var(--primary-color);
}

.add-project img, .add-section img, .add-activity img, .add-task img {
    width: 3.5rem;
    height: 3.5rem;
}

.topLeftSection img, .p-row1 img {
    width: 1rem;
    height: 1rem;
}

h4, h1 {
    display: flex;
    font-family: geneva, sans-serif;
    font-size: 6.5mm;
    color: var(--primary-color);
}

.p-row1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.pp-row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.p-row2, .pp-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#create-project {
    display: none;
}