:root {
    --heading: "Geneva", 900, white;
    --sub-heading: "Helvetica", 700;
    --text: "Helvetica", 400;
    --background-color: #F0F1F4;
    --complementary-color: #F5F4F5;
    --primary-color: #38344E;
    --secondary-color: #EDA284;
    --tertiary-color: #D2BCE2;
    --off-color: #B2B4B7;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    --border: 1px solid rgba(255, 255, 255, 0.02);
    --border-radius: 10px;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    color: var(--primary-color);
    margin-bottom: 2em;
}
h2{
    font-family: Helvetica, sans-serif;
    font-size: large;
    color: var(--primary-color);
}

textarea{
    resize: none;
    overflow: auto; /*removes default scrollbars, but adds them when needed*/
    font-family: Helvetica;
}

#background_image {
    background-image: url("../images/Background_FrontPage.svg");
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

ul{
    list-style-type: none;
}

.container{
    margin-top: 7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


.text-container {
    flex: 1;
    padding-right: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.video-container {
    flex: 1;
    margin-right: 10%;
}

.toplayerBackground {
    background: linear-gradient(110deg, var(--complementary-color) 60%, rgba(243, 206, 169, 0.0) 60%);
    z-index: -1;
}

.container-login{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 7em 10%;
}

.form-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

#loginLink, #register{
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
}

.hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width .5s;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .5s;
}

input[type="email"], input[type="password"], input[type="text"]{
    border: none;
    background: var(--complementary-color);
    border-bottom: 2px solid var(--primary-color);
    margin: 1em 2em 1em;
    font-family: Helvetica, sans-serif;
    font-size: var(--heading);
}

.frontpageBox{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--complementary-color);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

.box{
    background-color: var(--complementary-color);
    box-shadow: var(--box-shadow);
    font-family: var(--heading);
    border: var(--border);
    padding: 10em;
    border-radius: var(--border-radius);
}

#frontPageVideo{
    border-radius: var(--border-radius);
}

.header-box{
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.logo img{
    position: relative;
    height: 5em;
    left: 10%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#register-form {
    display: none;
}

#login-form {
    display: block;
}

.header-links {
    display: flex;
    justify-content: center; /* optional: align buttons in the center horizontally */
}

.header-links li {
    margin-right: 10px; /* optional: add some space between the buttons */
}


.button-header {
    font-family: Helvetica, serif;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, #f1c2ae 51%, var(--secondary-color)  100%);
    cursor: pointer;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block; /* make the buttons display inline */
    text-decoration: none; /* remove the underline from the link */
    border-bottom: none;
}

.button-header:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button-header:active {
    transform: scale(0.95);
}

.header-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* optional: align buttons in the center horizontally */
}

.header-links li {
    margin-right: 10px; /* optional: add some space between the buttons */
}

.button-submit {
    font-family: Helvetica, serif;
    font-size: smaller;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, #f1c2ae 51%, var(--secondary-color) 100%);
    cursor: pointer;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
}

#project-name{
    font-family: Helvetica;
    color: var(--primary-color);
    font-size: xx-large;
}

label{
    font-family: Helvetica;
    color: var(--primary-color);
    font-size: large;
}

/*Settings-page*/
.ps-heading{
    display: flex;
    flex-flow: row wrap;
    margin: 5%;
}

.ps-input{
    display: flex;
    flex-flow: column wrap;
    margin: 5%;
}

.ps-input-left{
    display: flex;
    flex-flow: row wrap;
}


