<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity page</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: side-navigation"></div>

<div id="platform" class="project-wrap">
    <section class="hero">
        <h1 th:text="' '+${session.activity.activityName}"></h1>

        <section class="top-section">
            <section class="topLeftSection">
                <a th:href="@{'/section-page/'+${session.section.id}}"><button class="button-header"> << Activities</button></a>
            </section>

            <section class="topRightSection">
                <a th:href="@{'/project-tree-view/'+${session.project.id}}">
                    <button class="button-header">Tree View</button>
                </a>
                <button class="button-header" onclick="openDeleteActivityPopUp()">Delete Activity</button>
            </section>
        </section>

        <section class="bottom-section">
            <div class="pp-row1">
                <h4>Tasks</h4>
            </div>

        <div class="pp-row2">
            <section>
                <button onclick="openCreateTaskForm()" class="add-task">
                    <img th:src="@{/images/plus.svg}" alt="Add task" src="">
                </button>
            </section>
            <div th:each="task : ${session.listOfTasks}">
                <div class="task" th:text="${task.taskName}"></div>
                <button class="task-info-button button-header" th:onclick="toggleTaskInfoSideBar([[${task.id}]])">Info</button>
                <div class="modal" th:id="'sidebarTask' + ${task.id}" th:insert="fragments/sidebar-fragments :: task-info-sidebar" th:with="task = ${task}"></div>
            </div>
        </div>
    </section>
</section>
    <div class="delete-popup-container modal" id="delete-activity-id" th:insert="fragments/form-fragments :: delete-activity-popup"></div>
    <div id="create-task" class="modal" th:insert="fragments/form-fragments :: create-task-form"></div>
    <div id="delete-activity" class="modal" th:insert="fragments/form-fragments :: delete-activity-popup"></div>
</div>
</body>
</html>