<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskMate</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: header"></div>
<div class="toplayerBackground">
<div id="background_image"></div>

<div class="container">
    <div class="text-container">
        <h1>Bringing your ideas to life. One project at a time.</h1>
        <h2>Empower Your Projects, Unleash Collective Brilliance: Seamlessly Collaborate, Achieve Unprecedented Efficiency and Success!</h2>
    </div>
    <div class="video-container">
        <video id="frontPageVideo" width="720" height="576" autoplay loop muted>
            <source src="../static/images/TaskMate.mp4" th:src="@{/images/TaskMate.mp4}" type="video/mp4">
        </video>
    </div>

</div>
</div>
</body>
</html>