<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>

<div>
    <button onclick="showLoginForm()">Login</button>
    <button onclick="showRegisterForm()">Register</button>
    <div>
        <div id="login-form" th:insert="fragments/form-fragments :: login-form"></div>
        <div id="register-form" th:insert="fragments/form-fragments :: register"></div>
    </div>
</div>
    <a th:href="@{/projects}">Go to projects</a>
</body>
</html>