<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login or Register</title>
</head>
<body>
    <div class="login-register-container">
        <div class="login-register-header">
            <h2>Login</h2>
            <h2>Register</h2>
        </div>
        <div class="login-form" th:insert="fragments/form-fragments :: login"></div>
        <div class="register-form" th:insert="fragments/form-fragments :: register"></div>
    </div>
</body>
</html>