<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
</head>
<body>

</body>
</html>