<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/javascript/chartsStyles.js" th:src="@{/javascript/chartsStyles.js}"></script>
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: side-navigation"></div>
<div id="platform" class="settings-wrapper">
    <div class="overview-wrapper">
        <div id="update-project" th:insert="fragments/form-fragments :: update-profile-form"></div>
    </div>
</div>
<div class="modal delete-popup-container" id="delete-profile" th:insert="fragments/form-fragments :: delete-profile-popup"></div>
</body>
</html>