<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>
    <h1 class="h1proj"> .</h1>
    <div class="p-row1">
        <a class="top-section" th:href="@{/dashboard}">
            <button class="button-header"><img class="arrow-right.svg" th:src="@{/images/arrow-right.svg}" alt="" src="">Dashboard</button>
        </a>
        <h4>All your projects</h4>
    </div>
    <div class="p-row2">
        <button onclick="openCreateProjectForm()" class="add-project">
            <img th:src="@{images/plus.svg}" alt="Add project" src="">
        </button>
        <div th:each="project : ${session.projectsList}">
            <a href="" th:href="@{'/project-page/'+${project.getId()}}">
                <button class="project" th:text="${project.projectName}"></button>
            </a>
        </div>
    </div>
    <div id="create-project" class="modal" th:insert="fragments/form-fragments :: create-project-form"></div>
</body>
</html>