<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Settings</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
</head>
<body>
<div id="update-project" th:insert="fragments/form-fragments :: update-project-form"></div>
</body>
</html>