<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: side-navigation"></div>
<div id="platform" class="project-wrap">
    <section class="hero">
        <h1 th:text="' '+${session.project.projectName}"></h1>

        <section class="top-section">
            <section class="topLeftSection">
                <a th:href="@{/projects}"><button class="button-header"><img class="arrow-right.svg" th:src="@{/images/arrow-right.svg}" alt="" src="">Projects</button></a>
            </section>

            <section class="topRightSection">
                <a th:href="@{'/project-page/'+${session.project.id}}">
                    <button class="button-header">Change View</button>
                </a>
                <div>
                    <a href="" th:href="@{'/project-settings/'+${session.project.id}}">
                        <button class="button-header">Settings</button>
                    </a>
                </div>

                <button class="button-header" onclick="openDeleteProjectPopUp()">Delete Project</button>
            </section>

        </section>

        <section class="tree-bottom-section">

            <div class="ppt-row2">
                <ul id="project-tree-view">
                    <li class="tree-item" th:each="section : ${listOfSections}">
                        <span class="caret" th:text="${section.sectionName}"></span>
                        <button th:onclick="toggleSectionInfoSideBar([[${section.id}]])">Info</button>
                        <div class="modal" th:id="'sidebarSection' + ${section.id}" th:insert="fragments/sidebar-fragments :: section-info-sidebar" th:with="section = ${section}"></div>
                        <ul class="nested nested-activity">
                            <li class="tree-item" th:each="activity : ${section.activityList}">
                                <span class="caret" th:text="${activity.activityName}"></span>
                                <button th:onclick="toggleActivityInfoSideBar([[${activity.id}]])">Info</button>
                                <div class="modal" th:id="'sidebarActivity' + ${activity.id}" th:insert="fragments/sidebar-fragments :: activity-info-sidebar" th:with="activity = ${activity}"></div>
                                <ul class="nested nested-task">
                                    <li class="tree-item" th:each="task : ${activity.taskList}">
                                        <span th:text="${task.taskName}"></span>
                                        <button th:onclick="toggleTaskInfoSideBar([[${task.id}]])">Info</button>
                                        <div class="modal" th:id="'sidebarTask' + ${task.id}" th:insert="fragments/sidebar-fragments :: task-info-sidebar" th:with="task = ${task}"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </section>
    </section>
</div>



</body>
<script>
    let toggler = document.getElementsByClassName("caret");
    let i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
</html>