<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project page</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>
<section class="hero">
    <section class="top-section">
        <section class="topLeftSection">
            <a th:href="@{/projects}"><button class="button-header"><img class="arrow-right.svg" th:src="@{/images/arrow-right.svg}" alt="" src="">Projects</button></a>
        </section>

        <section class="topRightSection">
            <button class="button-header" onclick="openEditProjectForm()">Edit Project</button>
            <button class="button-header" onclick="openDeleteProjectPopUp()">Delete Project</button>
        </section>
    </section>

    <section class="bottom-section">
        <div class="pp-row1">
            <h4>Sections in </h4>
            <div th:each="section : ${session.listOfSections}">
                <a href="" th:href="@{'/section-page/'+${section.getId()}}">
                    <h4 class="project" th:text="${section.sectionName}"></h4>
                </a>
                <button th:onclick="showInfoSideBar([[${section.id}]])">Info</button>
                <div class="sidebar-modal" th:id="'sidebar' + ${section.id}" th:insert="fragments/form-fragments :: section-info-sidebar" th:with="section = ${section}"></div>
            </div>
            <h1 th:text="' '+${session.project.projectName}"></h1>
        </div>

        <div class="pp-row2">
            <section>
                <button onclick="openCreateSectionForm()" class="add-section">
                    <img th:src="@{/images/plus.svg}" alt="Add section" src="">
                </button>
            </section>
            <div th:each="section : ${session.listOfSections}">
                <a href=""  th:href="@{'/section-page/'+${section.getId()}}">
                    <button class="section" th:text="${section.sectionName}"></button>
                </a>
            </div>
        </div>
    </section>
</section>
</body>
</html>