<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/infoSidebarStyles.css" th:href="@{/css/infoSidebarStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/TaskMate_favicon.png" th:href="@{images/TaskMate_favicon.png}"
    />
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: side-navigation"></div>

    <div id="platform" class="project-wrap">
        <h1 class="h1proj">Projects</h1>
        <div class="p-row1">
            <section class="top-section">
                <a class="button-header" th:href="@{/dashboard}"> << Dashboard</a>
            </section>
            <h4>Your projects</h4>
        </div>
        <div class="p-row2">
            <button onclick="openCreateProjectForm()" class="add-project">
                <img th:src="@{images/plus.svg}" alt="Add project" src="">
            </button>
            <div th:each="project : ${session.projectsList}">
                <a href="" th:href="@{'/project-page/'+${project.getId()}}">
                    <button class="project" th:text="${project.projectName}"></button>
                </a>
            </div>
        </div>
        <h4>Collaborations</h4>
        <div class="p-row3">
            <div th:each="project : ${session.colabProjectList}">
                <a href="" th:href="@{'/project-page/'+${project.getId()}}">
                    <button class="project" th:text="${project.projectName}"></button>
                </a>
            </div>
        </div>
        <div id="create-project" class="modal" th:insert="fragments/form-fragments :: create-project-form"></div>
        <div id="delete-project" class="modal" th:insert="fragments/form-fragments :: delete-project-popup"></div>
    </div>
</body>
</html>