<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/treeViewPageStyles.css" th:href="@{/css/treeViewPageStyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/javascript/script.js" th:src="@{/javascript/script.js}"></script>
</head>
<body>
<div th:insert="fragments/header-footer-fragments :: side-navigation"></div>
<div id="platform" class="project-wrap">
    <section class="hero">
        <h1 th:text="' '+${session.project.projectName}"></h1>

        <section class="top-section">
            <section class="topLeftSection">
                <a th:href="@{/projects}"><button class="button-header"> << Projects</button></a>
            </section>

            <section class="topRightSection">
                <a th:href="@{'/project-page/'+${session.project.id}}">
                    <button class="button-header">Change View</button>
                </a>
                <div>
                    <a href="" th:href="@{'/project-settings/'+${session.project.id}}">
                        <button class="button-header">Settings</button>
                    </a>
                </div>

                <button class="button-header" onclick="openDeleteProjectPopUp()">Delete Project</button>
            </section>

        </section>

        <section class="bottom-section tree-list">
            <div class="ptv-row2">
                <ul class="tree">
                    <li class="section-item" th:each="section : ${listOfSections}">
                        <details>
                            <summary class="section-item-header" th:text="${section.sectionName}"></summary>
                            <ul>
                                <li class="activity-item" th:each="activity : ${section.activityList}">
                                    <details>
                                        <summary class="activity-item-header" th:text="${activity.activityName}"></summary>
                                        <ul>
                                            <li class="task-item" th:each="task : ${activity.taskList}">
                                                <span class="task-item-header" th:text="${task.taskName}"></span>
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>



</body>
</html>